<h1>
  List of all movies
</h1>

<hr>

<form action="/insert_item" method="post">
<label for="zebra"> Title </label>

    <input type="text" name="title_movie" id="zebra">


<div>
<form action="/insert_item">
<label for="giraffe"> Year </label>
 
    <input type="text" name="year_movie" id="giraffe" >
  </div>

 <div>
 <form action="/insert_item">
<label for="tiger"> Duration </label>
    <input type="text" name="duration_movie" id="tiger" >
  </div>

 <div>
 <form action="/insert_item">
<label for="elephant"> Description </label>
    <input type="text" name="movie_description" id="elephant" >
  </div>

   <div>
 <form action="/insert_item">
<label for="bird"> Image </label>
    <input type="text" name="movie_description" id="bird" >
  </div>

 <div>
 <form action="/insert_item">
<label for="koala"> Director ID </label>
    <input type="text" name="movie_description" id="koala" >
  </div>


<button> Create movie </button>


<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
    </th>
  </tr>

  <% @list_of_movies.each do |a_movie| %>
  <tr>
    <td>
      <%= a_movie.id %>
    </td>

    <td>
      <img src="<%= a_movie.image %>" style="width:250px;">
    </td>

    <td>
      <%= a_movie.title %>
    </td>

    <td>
      <%= a_movie.year %>
    </td>

    <td>
      <% matching_directors = Director.where({ :id => a_movie.director_id }) %>
      
      <% the_director = matching_directors.at(0) %>

      <%= the_director.name %>
    </td>

    <td>
      <a href="/movies/<%= a_movie.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
